body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#b5b5b5;
}

/*global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

/*header*/
header{
    background:#a1a1a1;
    color:#000000;
    padding-top:38px;
   
}

.highlight {
    color: #FF0000;
    font-weight: BOLD;
}

li {
    color: #FFFFFF;
    list-style-type: none;
    float: right;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    
}

.current {
    color: #FFFFFF;
}

a:hover{
    font-weight: bold;
}

footer {
    float: none;
}
